* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
}

section{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body spans the full viewport height */
    margin: 0; /* Remove default body margin */
}

nav{
    position: fixed;
    z-index: 100;
    right: 0;
    left: 0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #29B6F6;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
} 
nav .logo{
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 1em;
}
nav .logo img{
    top: -30px;
    position: absolute;
    width: 250px;
    height: 130px;
    left: 10px;
}
nav .logo h4{
    margin-left: 15px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding: 8px 20px;
    border-radius: 25px;
}
nav ul li a:hover {
    background-color: #1976D2;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease; /* Smooth transition effect */
}

/* Hamburger menu styles */
.hamburger {
    position: absolute;
    display: none; /* Hidden by default */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    right: 15px;
    
}

.hamburger .bar {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
}

/* Animate hamburger menu to form X */
.hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 8px;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -8px;
}

/* Base Styles */
nav ul.nav-links {
    display: flex;
    list-style: none;
}

nav ul.nav-links li {
    margin: 0 10px;
}


.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
    color: white;
    text-align: center;
    padding: 200px 0px;
    overflow: hidden;
}

svg{
    margin-top: 10px;
}
.hero h1 {
    color: #333;
    font-size: 7em;
    /* font-family: cursive; */
    margin-top: -80px;
    margin-bottom: 30px;
}

.hero p {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.cta-button {
    position: relative;
    display: inline-block;
    background-color: #0693E3;
    color: white;
    top: 30px;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1.2em;
    z-index: 1;
}

.cta-button:hover {
    background-color:#1976D2;
    opacity: 0.5;
    cursor: pointer;
}

.about-us {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 170vh;
    padding: 100px 20px;
    text-align: center;
    text-align: justify;
    background-color: rgb(255, 255, 255);
}

.about-us h2 {
    text-align: center;
    font-size: 2.9em;
    color: #1da9c0;
}
.about-us .contentP{
    color: #666;
    padding-top: 10px;
    font-size: 1.5em;
    width: 700px;
    text-align: justify;
}

.about-us .team {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.team-member {
    text-align: center;
    max-width: 150px;
}

.team-member img {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}
.team .team-member img{
    border-radius: 50%;
}

 .team-member img:hover {
    transform: scale(1.05);
}

.team-member h3 {
    font-size: 1.2em;
    margin-top: 10px;
    color: #333;
}

.team-member p {
    font-size: 0.9em;
    color: #777;
}
.logo {
    text-align: center;
    margin-top: 20px; 
    margin-bottom: 10px; 
}

.logo img {
    border-radius: 20px;
    max-width: 100%; 
    height: auto; 
    width: 150px;
    display: inline-block;
}

.feature{
    width: 100%;
    height: 150vh;
}

.app-slider {
    position: relative;
    width: 60%;  
    height: 95vh; 
    margin: 50px auto;
    top: 100px;
    overflow: hidden;
    border: 2px solid #1da9c0;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding-bottom: 20px;
    margin-top: 20px;
}

.features-text {
    text-align: center;
    margin-bottom: 10px; 
    padding: 20px;
}

.features-text h2 {
    font-size: 2em; 
    color: #333;
    margin-top: -10px;
    margin-bottom: 10px;
}

.features-text p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px; 
}

.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    height: 550px;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100%;
}

.slide {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-image img {
    width: 40%; 
    height: 500px;
    object-fit: contain;
    margin-top: -250px;
    margin-left: 125px;
    margin-right: 75px;
    margin-bottom: -50px;
}

.slider-nav {
    position: absolute;
    top: 100%; 
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

button {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px;
    font-size: 25px; 
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 5;
}

button:hover {
    background-color: #1da9c0;
    transform: scale(1.1);
}

.contact {
    padding: 60px 20px;
    text-align: center;
    color: white;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.contact-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    max-width: 400px;
}

.contact-form button {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    background-color: #ffcc80;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
}



footer {
    position: relative;
    background-color: #29B6F6;
    padding: 20px;
    text-align: center;
    z-index: 1;
    top: 300px;
    height: auto; /* Ensure it adjusts according to content */
    min-height: 100px; /* Set a minimum height if needed */
  }
  
  footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 0;
    height: auto; /* Ensure this is adjusted accordingly */
    width: 100%; /* Ensure full width */
    max-width: 1080px; /* Restrict max width */
    margin-left: auto;
    margin-right: auto; /* Center the content */
  }
  
  footer .footer-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  
  footer .footer-item a {
    text-decoration: none;
    color: #efefef;
    padding: 5px;
    font-size: 16px; 
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #FFF;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
  }
  
  .footer-item span {
    color: #efefef;
  }
  
  .footer-item span:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .footer-bottom p {
    font-size: 12px;
    color: #efefef;
  }
  
  .footer-item p, .footer-item a {
    margin: 0;
    font-size: 12px;
  }

::-webkit-scrollbar{
    width: 10px;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background-color: #1f71a1;
    transition: background-color 0.3s;
    border-radius: 50px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover{
    background-color:#179bf3;
}

/* Initial state for hidden elements */
.pop-up {
    opacity: 0;
    transform: translateY(30px); /* Start below the visible area */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
}

/* Visible state when the element is in view */
.pop-up.visible {
    opacity: 1;
    transform: translateY(0); /* Move to its original position */
}


@media only screen and (min-width: 360px) and (max-width: 600px) {

  

    nav ul.nav-links {
        position: fixed; /* Fixed for slide-in effect */
        top: 0;
        left: -250px; /* Start from the left side, off-screen */
        height: 100vh; /* Full screen height */
        width: 250px; /* Width of the dropdown */
        background: #29B6F6;
        padding: 20px;
        box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1); /* Shadow for depth */
        z-index: 100; /* Ensure it appears above other elements */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: left 0.3s ease; /* Smooth slide-in and slide-out */
    }

    /* Apply animation when the active class is added to nav-links */
    nav ul.nav-links.active {
        left: 0; /* Slide to the screen */
    }

    hr {
        width: 90%; /* Make the HR take up most of the screen width */
        border-top: 1px solid white;
        margin: 20px auto; /* Center the HR and give vertical spacing */
        margin-top: -25px; /* Adjust top margin for better alignment */
    }

    nav ul.nav-links li {
        margin: 20px 0;
        text-align: center;
    }

    nav ul.nav-links li a {
        padding: 8px 50px;
        color: white;
        text-decoration: none;
        border-radius: 20px;
        
        transition: background 0.1s ease, color 0.3s ease;
    }

    nav ul.nav-links li a:hover {
        background-color: #1976D2;
    }

    nav .logo img {
        margin-left: -20px;
        max-width: 150px;
    }

    .nav-links .dropdown-logo a {
        text-decoration: none;
    }

    .nav-links .dropdown-logo {
        margin-bottom: 20px;
        text-align: center;
    }

    .nav-links .dropdown-logo img {
        max-width: 170px; /* Adjust size of the logo */
        margin-bottom: 10px;
    }

    /* Hamburger menu styles */
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        cursor: pointer;
        margin-top: -40px;
        margin-bottom: -40px;
    }

    .hamburger .bar {
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: rotate(45deg); /* Rotate the top bar to form part of the X */
        top: 11px; /* Adjust the position of the top bar */
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0; /* Hide the middle bar */
    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg); /* Rotate the bottom bar to form the other part of the X */
        top: -11px; /* Adjust the position of the bottom bar */
    }

    .hero h1 {
        font-size: 3em;
        margin-top: inherit;
    }

    .hero p {
        width: 90%;
        font-size: 1.2em;
        margin-left: auto;
        margin-right: auto;
    }

    .logo img {
        max-width: 100px;
        height: auto;
    }

    .cta-button {
        font-size: 1em;
        padding: 10px 20px;
    }

    .contact-form input {
        width: 100%;
        max-width: 100%;
    }

    .about-us .contentP {
        width: 80%;
        font-size: 1em;
    }

    .about-us h2 {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .about-us .team {
        grid-template-columns: repeat(2, 2fr); 
        gap: 80px;
        
    }

    .team-member {
        max-width: 140px;
    }

    .team-member h3 {
        font-size: 0.9em;
    }

    .team-member p {
        font-size: 0.7em;
    }

    .about-us{
        height: 150vh;
    }

    svg {
        margin-top: 30px;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .feature {
        height: inherit;
    }

    .features-text {
        text-align: center;
        padding: 10px;
        text-wrap: wrap;
    }

    .features-text h2 {
        margin-top: 10px;
        font-size: 1.5em; 
        margin-bottom: 10px;
    }

    .features-text p {
        font-size: 1em;
        margin-bottom: 10px;
    }

    .slider-container img {
        margin-left: 120px;
        margin-top: -150px;
    }

    .app-slider {
        width: 80%; 
        height: 105vh;
    }

    .slider-nav {
        display: none; 
    }

    .about-us{
        height: inherit;
    }

    .feature{
        margin-bottom: 200px;
    }

    footer{
        margin-top: 300px;
    }
    footer .footer-container {
        flex-direction: column;
        gap: 10px;
      }
    
      footer img {
        width: 18px;
      }
    
      footer .footer-item a,
      footer .footer-item span {
        font-size: 14px;
      }
}



@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Navbar */
    nav ul.nav-links {
        position: fixed;
        top: 0;
        left: -250px; /* Initially off-screen */
        height: 100vh;
        width: 250px;
        background: #29B6F6;
        padding: 20px;
        box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1);
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: transform 0.3s ease; /* Use transform for smoother animation */
    }

    nav ul.nav-links.active {
        transform: translateX(250px); /* Slide the menu into view */
    }

    nav ul.nav-links li {
        margin: 20px 0;
        text-align: center;
    }

    nav ul.nav-links li a {
        padding: 8px 50px;
        color: white;
        text-decoration: none;
        border-radius: 20px;
        transition: background 0.1s ease, color 0.3s ease;
    }

    nav ul.nav-links li a:hover {
        background-color: #1976D2;
    }

    hr {
        width: 90%; /* Make the HR take up most of the screen width */
        border-top: 1px solid white;
        margin: 20px auto; /* Center the HR and give vertical spacing */
        margin-top: -25px; /* Adjust top margin for better alignment */
    }

    /* Logo styling */
    nav .logo img {
        max-width: 150px;
        margin-left: -20px;
    }

    .nav-links .dropdown-logo a {
        text-decoration: none;
    }

    .nav-links .dropdown-logo {
        margin-bottom: 20px;
        text-align: center;
    }

    .nav-links .dropdown-logo img {
        max-width: 170px;
        margin-bottom: 10px;
    }

    /* Hamburger Menu */
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        cursor: pointer;
        margin-top: -40px;
        margin-bottom: -40px;
    }

    .hamburger .bar {
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: rotate(45deg);
        top: 11px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg);
        top: -11px;
    }

    /* Hero Section */
    .hero h1 {
        font-size: 4.5em;
        margin-top: inherit;
    }

    .hero p {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5em;
    }

    /* About Us Section */
    .about-us {
        width: inherit;
        height: inherit;
    }

    .about-us h2 {
        text-align: center;
        font-size: 2em;
        margin-bottom: 20px;
    }

    .about-us .contentP {
        width: 100%;
        padding: 20px;
        font-size: 1.1em;
    }

    .about-us .team {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }

    .team-member {
        max-width: 120px;
    }

    .team-member img {
        max-width: 100%;
        border-radius: 8px;
    }

    .team-member h3 {
        font-size: 1.1em;
    }

    .team-member p {
        font-size: 0.9em;
    }

    /* Highlight Section */
    .highlight-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .highlight-item {
        max-width: 45%;
    }

    /* CTA Button */
    .cta-button {
        padding: 12px 24px;
    }

    /* Slider */
    .slider-container img {
        margin-left: 125px;
        margin-bottom: -200px;
    }

    .app-slider {
        width: 70%;
        height: 105vh;
    }

    .slider-nav {
        display: none;
    }

    /* Features Section */
    .features-text {
        text-align: center;
        padding: 10px;
    }

    .features-text h2 {
        margin-top: 20px;
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .features-text p {
        font-size: 1em;
        margin-bottom: -30px;
    }

    /* Remove scrollbar */
    ::-webkit-scrollbar {
        display: none;
    }

    footer{
        margin-top: 300px;
    }

    footer .footer-container {
        flex-direction: column;
        gap: 10px;
      }

    /* Miscellaneous adjustments */
    svg {
        margin-bottom: -80px;
    }
}



@media (min-width: 1025px) {

    .navbar .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
    }

    .hamburger {
        display: none;
    }

    hr{
        display: none;
    }

    .hero h1 {
        font-size: 7em;
    }

    .hero p {
        font-size: 1.5em;
    }

    .cta-button {
        font-size: 1.2em;
        padding: 14px 28px;
    }

    .about-us .contentP {
        width: 900px;
        padding: 40px;
    }

    .logo img {
        max-width: 150px;
        height: auto;
    }

    .highlight-grid {
        flex-direction: row;
        justify-content: space-between;
    }

    .highlight-item {
        max-width: 30%; 
    }

    .contact-form input, .faq-item {
        width: 600px;
    }

    .about-us .team {
        justify-content: space-evenly;
        gap: 20px;
    }

    .team-member {
        max-width: 150px;
    }

    .team-member img {
        max-width: 100%;
        border-radius: 5px;
    }

    .team-member h3 {
        font-size: 1.2em;
    }

    .team-member p {
        font-size: 0.9em;
    }

    .features-text {
        padding: 20px;
    }

    .features-text h2 {
        font-size: 2.5em; 
        margin-bottom: 20px;
    }

    .features-text p {
        font-size: 1.5em; 
        margin-bottom: 30px;
    }

    .slider-container img{
        width: 45%;
        margin-left: 110px;
        margin-top: -200px;
    }

    .app-slider {
        width: 60%; 
        height: 115vh; 
    }

    .slider-nav button {
        width: 60px; 
        height: 60px;
        font-size: 25px; 
        padding: 10px; 
    }

    .slider-nav {
        top: 55%; 
        width: 80%;
    }

    svg{
        margin-top: 20px;
    }

    .dropdown-logo{
        display: none;
    }

    .dropdown-footer{
        display: none;
    }
   
}


.other{
    width: 100%;
    height: 150vh;
}
.container {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem; /* Add spacing between items */
     margin: 0 auto;/* Center horizontally */
    align-items: center; /* Center children horizontally */
  }
  
  .content-item {
    display: flex;
    width: 90%;
    align-items: center;
    gap: 1.5rem;
    border: 1.5px solid #29B6F6;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .content-item .text-container {
    flex: 1;
  }
  
  .content-item .image-container img {
    width: 120px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .content-item.reverse {
    flex-direction: row-reverse; /* Swap the order of text and image */
  }
  
  /* Ensure responsiveness */
  @media (max-width: 768px) {
    .content-item,
    .content-item.reverse {
      flex-direction: column;
      text-align: center;
    }
  
    .content-item .image-container img,
    .content-item.reverse .image-container img {
      margin: 0 auto;
    }
  }
  